@{
    ViewData["Title"] = "Subscribe";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PQT - Bangboo E-commerce</title>
        <link rel="icon" type="image/x-icon" href="/Asset/logo/sleep-mode.png">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Navbar.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/OverView.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Bangboo_E_Commerce.styles.css" asp-append-version="true" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9.1.1/swiper-bundle.min.css">
        <link rel="stylesheet" href="https://cdn.skypack.dev/lightgallery@2.0.0-beta.3/dist/css/lightgallery.css">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/efa6b62b9f14c00a8449fe121136f553?family=Haulage+Commercial+W00+Bold+It" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/3889a81d538246d1cdb7bf2bd997fa72?family=Korataki+W01+Regular" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/de335dd5a66ff095f317757fc7fb58a5?family=Korataki" rel="stylesheet">
    </head>
    <body>
        <div id="mc_embed_shell">
            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                background-color: #f3f3f3;
            }

            #mc_embed_signup {
                margin-top: 75px;
            }

            #mc_embed_signup .indicates-required {
                font-size: 20px;
            }

            #mc_embed_signup {
                background: #fff;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                font-family: "Bebas Neue", sans-serif;
                width: 600px;
                padding: 5px;
            }

            #mc_embed_signup h2 {
                text-align: center;
                color: black;
                margin-bottom: 20px;
                font-size: 32px;
            }

            .mc-field-group {
                width: 100% !important;
                margin-bottom: 0;
            }

            .mc-field-group label {
                display: block;
                margin-bottom: 5px;
                color: black;
                font-size: 18px;
            }

            .mc-field-group input {
                width: 100%;
                padding: 10px;
                font-size: 18px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            .mce_inline_error {
                font-size: 20px !important;
                margin-bottom: 0 !important;
            }

            .indicates-required{
                margin-right: 0 !important;
            }

            .clear {
                text-align: center;
            }

            #mc_embed_signup .button {
                padding: 5px 20px;
                font-size: 20px;
                height: 40px;
            }

            #mc_embed_signup .button:hover {
                color: #c6e800;
            }

            .button {
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }

            #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
                border: 1px solid #ABB0B2;
            }

            #mc_embed_signup #mce-success-response {
                color: black;
                width: 100%;
            }

            #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
                color: black;
            }

            h2::selection,
            div::selection,
            label::selection, 
            input::selection, 
            span::selection {
                background: none;
            }
        </style>
            <div id="mc_embed_signup">
                <form action="https://gmail.us9.list-manage.com/subscribe/post?u=2e7aed81ab6a316090e4bd5bb&amp;id=bd1af02244&amp;f_id=0050d4e3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value=""></div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div><div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_2e7aed81ab6a316090e4bd5bb_bd1af02244" tabindex="-1" value=""></div><div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"></div>
                    </div>
                </form>
            </div>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; fnames[6] = 'COMPANY'; ftypes[6] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        </div>
    </body>
</html>